{% extends "base.html" %}

{% block title %}URL {{ url.id }}{% endblock %}

{% block content %}
<h1>Сайт: {{ url.name }}</h1>
<table class="table table-bordered" data-test="url">
    <tr>
        <th>ID</th>
        <td>{{ url.id }}</td>
    </tr>
    <tr>
        <th>Имя</th>
        <td>{{ url.name }}</td>
    </tr>
    <tr>
        <th>Дата создания</th>
        <td>{{ url.created_at|datetime }}</td>
    </tr>
</table>
<h2>Проверки</h2>
<form action="{{ url_for('check_url', id=url.id) }}" method="post">
    <button class="btn btn-primary" type="submit">Запустить проверку</button>
</form>
<table class="table table-bordered mt-3" data-test="checks">
    <thead>
        <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        {% for check in checks %}
            <tr>
                <td>{{ check.id }}</td>
                <td>{{ check.status_code }}</td>
                <td>{{ check.h1 }}</td>
                <td>{{ check.title }}</td>
                <td>{{ check.description }}</td>
                <td>{{ check.created_at|datetime }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
